* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

html {
    cursor: url(../blueicon.png), auto;
}

/*  FONTS  */

.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
  }
  
  .space-mono-regular-italic {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
  }
  
  .space-mono-bold-italic {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
  }
  
.archivo {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 110;
    letter-spacing: 1px;
  }



/*  BUTTONS AND START PAGE  */

#mainButton {
    position: fixed;
    width: 100px;
    height: 100px;
    background-color: #1F3398;
    border-radius: 50%;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 4px 5px 8px 2px #939fd3;  
}

#mainButton:hover {
    width: 106px;
    height: 106px;
    background-color: #1F3398;
    transition: 0.2s;
    cursor: url(../whiteicon.png), auto;
    box-shadow: 8px 9px 8px 2px #939fd3;
}

#mainButton.expanded {
    transform: scale(40) translate(-50%, -50%);
    z-index: -1000;
}


.box {
    padding: 80px;
    margin-left: -70px;
    margin-top: -70px;
    background-color: #5d78ff;
    position: absolute;
    border-radius: 12cap;
    opacity: 20%;
    z-index: 1;
}

.nav-button {
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: #5d78ff;
    border: #F2F7F2 2px solid;
    border-radius: 50%;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #1C110A;
}

.nav-button:hover {
    border: #F2F7F2 4px solid;
    transition: 0.2s;
    cursor: url(../whiteicon.png), auto;
    width: 45px;
    height: 45px;
    box-shadow: 6px 6px 9px 4px #0d1e75;
}

.nav-button.visible {
    opacity: 1 !important;
    transform: scale(1) !important;
}





/*  TYPE  */

body {
    margin: 0;
    overflow: hidden;
    font-family: "Space Mono", monospace;
    background-color: #F2F7F2;
    color: #1F3398;
}

#titles {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: baseline;
    pointer-events: none;
    font-family: "Space Mono", monospace;
    padding: 20px;
    z-index: 10;
    color: #F2F7F2;
}

h1 {
    font-size: 100px;
    line-height: 85px;
    padding: 20px;
    z-index: 4;
    color: #F2F7F2;
}

#subheader {
    padding: 20px;
    z-index: 4;
    color: #F2F7F2;
    font-size: 40px;
    line-height: 45px;
    position: relative;
    top: 10%;
    color: #F2F7F2;
    font-family: "Space Mono", monospace;
    font-style: italic;
}

#titles h2 {
    line-height: 28px;
}

h3{
    font-size: 30px;
    font-style: italic;
}

h4{
    font-size: 22px;
    line-height: 24px;
    font-style: italic;
}

a{
    color: #F2F7F2;
    text-align: right;
}

a:hover {
    color: #939fd3;
    font-style: italic;
    font-size: 18px;
    transition: 0.2s;
}

p {
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "Archivo", sans-serif;
    font-size: 16.5px;
    line-height: 24px;
}


#scroll-container {
    overflow: hidden;
  }
  
  #scroll-text {
    /* animation properties */
    transform: translateX(100%);
    animation: my-animation 15s linear infinite;
  }
  @keyframes my-animation {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
}
  

#speakers section {
    display: none;
    /* Initially hide all speaker sections */
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-height: 80%;
    overflow: auto;
    background: #1F3398;
    color: #F2F7F2;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    z-index: 4;
}

#speakers section.active {
    display: block;
    cursor: url(../whiteicon.png), auto;
}

#event {
    position: absolute;
}